@tailwind base;
@tailwind components;
@tailwind utilities;

*{
     font-family: 'Montserrat'  !important;
     font-size: 16px;
     font-weight: 500;
}

input{
     /* height: 40px; */
     border: 1px solid #049d04;
     padding-left: 20px;
}
input:focus{
     outline: none;
     border: 1px solid #011401;
}

.outline-btn{
     border: 1px solid #003300;
     color: #003300;
     padding: 10px 20px;
     /* height: 40px; */
     text-transform: uppercase;
}

.contained-btn{
     background-color: #003300;
     color: white;
     /* padding: 5px 20px; */
     /* height: 40px; */
     text-transform: uppercase;
}

.disabled-btn{
     background-color: #cac8cd;
     color: rgb(92,90,90);
     padding: 5px 20px;
     /* height: 40px; */
     text-transform: uppercase;
     opacity: 0.5;
}

.all-users:first-child{
     border-top-right-radius: 15px;
}
.all-users:first-child{
     border-top-left-radius: 15px;
}
.all-users:last-child{
     border-bottom-right-radius: 15px;
}
.all-users:last-child{
     border-bottom-left-radius: 15px;
}

.file-input{
     border: none  !important;
}